/*Basic reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom properties */
:root {
  --bg-color: #2c2c2c;
  --text-color: #f3f6f5;
}

/* Global styles */
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.contenedor {
  margin: 0 auto;
  max-width: 120rem;
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

p {
  margin-bottom: 1.5rem;
  line-height: 2rem;
}

/************* Footer *************/
footer {
  position: fixed;
  bottom: 0;
  padding: 2rem;
  border-top: 1px solid grey;
  width: 100%;
  text-align: center;
}
